{% extends "ehealth/main.html" %}
{% block content %}

<div class="container mt-4">
<!-- Appointment Booking Button -->
    <h2 class="mb-4">Patient Dashboard</h2>
    <a href="{% url 'ehealth:book_appointment' %}"
   class="btn btn-success mb-4">
    Book New Appointment
</a>


    <!-- Patient Info -->
    <div class="card p-3 mb-4">
        <h4>Your Profile</h4>
        <p><strong>Name:</strong> {{ patient.user.first_name }} {{ patient.user.last_name }}</p>
        <p><strong>Email:</strong> {{ patient.user.email }}</p>
        <p><strong>Mobile:</strong> {{ patient.mobile_number }}</p>
        <p><strong>Date of Birth:</strong> {{ patient.date_of_birth }}</p>
        <p><strong>Address:</strong> {{ patient.address }}</p>
        <p><strong>Assigned Doctor:</strong>
            {{ patient.assigned_doctor|default:"Not assigned" }}
        </p>
    </div>

    <!-- Upcoming Appointments -->
    <div class="card p-3 mb-4">
        <h4>Upcoming Appointments</h4>

        {% if upcoming_appointments %}
            <ul>
                {% for appt in upcoming_appointments %}
                    <li>
                        <strong>Date:</strong>
                        {{ appt.appointment_date|date:"M d, Y H:i" }}
                        <br>

                        <strong>Doctor:</strong>
                        Dr. {{ appt.doctor.user.first_name }}
                        {{ appt.doctor.user.last_name }}
                        <br>

                        <strong>For:</strong>
                        {% if appt.child %}
                            Child — {{ appt.child.first_name }} {{ appt.child.last_name }}
                        {% else %}
                            Yourself
                        {% endif %}

                        <br>
                        <strong>Status:</strong> {{ appt.status|capfirst }}
                    </li>

                {% endfor %}
            </ul>
        {% else %}
            <p>No upcoming appointments.</p>
        {% endif %}
    </div>

    <!-- Vitals -->
    <div class="card p-3 mb-4">
        <h4>Your Recent Vitals</h4>
        <ul>
            {% for v in vitals %}
                <li>{{ v.recorded_at }} —
                    Blood Pressure: {{ v.blood_pressure }},
                    Heart Rate: {{ v.heart_rate }} bpm,
                    Temperature: {{ v.temperature }} °C
                    Weight: {{ v.weight }} Kgs

                </li>
            {% empty %}
                <li>No vitals recorded yet.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Medical Records -->
    <div class="card p-3 mb-4">
        <h4>Consultations </h4>
        <ul>
            {% for rec in consultations %}
                <li>{{ rec.created_at.date }} — {{ rec.diagnosis|truncatechars:80 }}</li>
            {% empty %}
                <li>No medical history available.</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
